.button {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}
.button-main {
    background-color: $main-dark;
    color: $white;
}