@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

// text fonts
$logo-font: "Anton", sans-serif;
$text-font: "Quicksand", sans-serif;

// font weight
$regular: 400;
$slightly-bold: 500;
$bold: 600;
$very-bold: 700;