a,
p,
ul,
li,
ol,
span {
    font-family: $text-font;
    font-size: 1.1rem;
    line-height: 1.4;
    color: black;
    text-decoration: none;
    list-style: none;
}
a {
    cursor: pointer;
}
h2,
h3,
h4,
h5 {
    font-family: $text-font;
    font-weight: $regular;
}
h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 1.8rem;
}
h4 {
    font-size: 1.4rem;
}
h5 {
    font-size: 1.1rem;
}